<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.phonegap.getting.started"
	version 	= "1.0.0">

	<name>Geolocation</name>

	<description>
		Geolocation Test App
	</description>

	<author href="https://github.com/cmoody"
		email="cmoody06@gmail.com">
		Chase Moody
	</author>

	<icon src="icon.png" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>
	
	<access origin="*" />
	
	<preference name="orientation" value="portrait" />
</widget>
